<section class="lists">

  <div class="row">
    <div class="col-md-12">
      <div class="page-header">
        <h3>Kalah Game</h3>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8">
      <div class="col-md-1">
        <button class="btn btn-success" type="button">
          <span class="badge">{{ctrl.board.playerOne.house.stones}}</span>
        </button>
      </div>
      <div class="col-md-1">
        <button class="btn btn-primary" type="button" ng-click="ctrl.move(ctrl.board.playerOne.pits[5].id)"
                ng-disabled="ctrl.disabled(ctrl.board.playerOne, ctrl.board.playerOne.pits[5].stones)">
          <span class="badge">{{ctrl.board.playerOne.pits[5].stones}}</span>
        </button>
      </div>
      <div class="col-md-1">
        <button class="btn btn-primary" type="button" ng-click="ctrl.move(ctrl.board.playerOne.pits[4].id)"
                ng-disabled="ctrl.disabled(ctrl.board.playerOne, ctrl.board.playerOne.pits[4].stones)">
          <span class="badge">{{ctrl.board.playerOne.pits[4].stones}}</span>
        </button>
      </div>
      <div class="col-md-1">
        <button class="btn btn-primary" type="button" ng-click="ctrl.move(ctrl.board.playerOne.pits[3].id)"
                ng-disabled="ctrl.disabled(ctrl.board.playerOne, ctrl.board.playerOne.pits[3].stones)">
          <span class="badge">{{ctrl.board.playerOne.pits[3].stones}}</span>
        </button>
      </div>
      <div class="col-md-1">
        <button class="btn btn-primary" type="button" ng-click="ctrl.move(ctrl.board.playerOne.pits[2].id)"
                ng-disabled="ctrl.disabled(ctrl.board.playerOne, ctrl.board.playerOne.pits[2].stones)">
          <span class="badge">{{ctrl.board.playerOne.pits[2].stones}}</span>
        </button>
      </div>
      <div class="col-md-1">
        <button class="btn btn-primary" type="button" ng-click="ctrl.move(ctrl.board.playerOne.pits[1].id)"
                ng-disabled="ctrl.disabled(ctrl.board.playerOne, ctrl.board.playerOne.pits[1].stones)">
          <span class="badge">{{ctrl.board.playerOne.pits[1].stones}}</span>
        </button>
      </div>
      <div class="col-md-1">
        <button class="btn btn-primary" type="button" ng-click="ctrl.move(ctrl.board.playerOne.pits[0].id)"
                ng-disabled="ctrl.disabled(ctrl.board.playerOne, ctrl.board.playerOne.pits[0].stones)">
          <span class="badge">{{ctrl.board.playerOne.pits[0].stones}}</span>
        </button>
      </div>
      <div class="col-md-1">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
      <div class="col-md-1">
      </div>
      <div class="col-md-1">
        <button class="btn btn-primary" type="button" ng-click="ctrl.move(ctrl.board.playerTwo.pits[0].id)"
                ng-disabled="ctrl.disabled(ctrl.board.playerTwo, ctrl.board.playerTwo.pits[0].stones)">
          <span class="badge">{{ctrl.board.playerTwo.pits[0].stones}}</span>
        </button>
      </div>
      <div class="col-md-1">
        <button class="btn btn-primary" type="button" ng-click="ctrl.move(ctrl.board.playerTwo.pits[1].id)"
                ng-disabled="ctrl.disabled(ctrl.board.playerTwo, ctrl.board.playerTwo.pits[1].stones)">
          <span class="badge">{{ctrl.board.playerTwo.pits[1].stones}}</span>
        </button>
      </div>
      <div class="col-md-1">
        <button class="btn btn-primary" type="button" ng-click="ctrl.move(ctrl.board.playerTwo.pits[2].id)"
                ng-disabled="ctrl.disabled(ctrl.board.playerTwo, ctrl.board.playerTwo.pits[2].stones)">
          <span class="badge">{{ctrl.board.playerTwo.pits[2].stones}}</span>
        </button>
      </div>
      <div class="col-md-1">
        <button class="btn btn-primary" type="button" ng-click="ctrl.move(ctrl.board.playerTwo.pits[3].id)"
                ng-disabled="ctrl.disabled(ctrl.board.playerTwo, ctrl.board.playerTwo.pits[3].stones)">
          <span class="badge">{{ctrl.board.playerTwo.pits[3].stones}}</span>
        </button>
      </div>
      <div class="col-md-1">
        <button class="btn btn-primary" type="button" ng-click="ctrl.move(ctrl.board.playerTwo.pits[4].id)"
                ng-disabled="ctrl.disabled(ctrl.board.playerTwo, ctrl.board.playerTwo.pits[4].stones)">
          <span class="badge">{{ctrl.board.playerTwo.pits[4].stones}}</span>
        </button>
      </div>
      <div class="col-md-1">
        <button class="btn btn-primary" type="button" ng-click="ctrl.move(ctrl.board.playerTwo.pits[5].id)"
                ng-disabled="ctrl.disabled(ctrl.board.playerTwo, ctrl.board.playerTwo.pits[5].stones)">
          <span class="badge">{{ctrl.board.playerTwo.pits[5].stones}}</span>
        </button>
      </div>
      <div class="col-md-1">
        <button class="btn btn-success" type="button">
          <span class="badge">{{ctrl.board.playerTwo.house.stones}}</span>
        </button>
      </div>
    </div>
  </div>

  <div class="row" ng-show="ctrl.board.winner !== null">
    <div class="col-md-12">
      The winner is {{ctrl.board.winner}}
    </div>
  </div>
</section>